.btn{
    background-color: #FFFFFF;
    text-align: center;

}

.btn button{
    width: 141px;
    height: 36px;
    border-radius: 4px;
    background-color: #F8F8F8;
    color: #7B7B7B;
    margin: 25px 12px;
    border: 0;
    text-align: center;
}

.check{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto;



}

.check img{
    width: 47px;
    margin-left: 5px;
}